* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.hero_sec {
  background: url(heroSectionBackground.png);
  min-height: 60vh;
  background-size: cover;
  background-position: center;
}
.navi {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  height: 60px;
}
.navi a {
  text-decoration: none;
  color: white;
}
.navi div {
  display: flex;
  gap: 20px;
}
.icon-link {
  height: 30px;
  width: 30px;
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.hero-sec-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  height: calc(60vh-60px);
}
.hero-sec-logo {
  width: 200px;
  height: auto;
}
.hero-sec-description {
  color: white;
  text-align: center;
  font-weight: 400;
  font-size: 40px;
}
.hero-sec-input-container {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44%;
  padding: 10px;
  gap: 20px;
  border-radius: 10px;
}
.hero-sec-inp-location,
.hero-sec-inp-dish {
  padding: 5px;
  border: none;
  outline: none;
}
.hero-sec-inp-location {
  width: 30%;
  border-right: 2px solid#e0e0e0;
}
.hero-sec-inp-dish {
  width: 70%;
}
@media only screen and (max-width:600px) {
  .icon-link{
    display: flex;
  }
  .link{
    display: none;
  }
  
}
.offer-sec-cont{
  margin: 3rem auto;
  width: 80%;
}
.offer-sec{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0.7rem;
  flex-wrap: wrap;
}
.offer-card{
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid#e0e0e0;
  transition: all 0.3sec ease;
}
.offer-card :hover{
  transform: scale(1.05);
}
.offer-card img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}
.offer-content{
  padding: 10px;
  font-weight: 300;
  font-size: 10px;
}
.offer-content h2{
  font-size: 20px;
  font-weight: 350;
}
.offer-content p{
  font-size: 10px;
}
.collect-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  padding-top: 15px;
  padding-bottom: 0px;
}
.hyd{
  text-decoration: none;
  color: red;
}
.coll-title{
  font-weight: 3500;
  padding-left: 100px;
}
.collect-card{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  flex-wrap: wrap;
  margin: 1.5rem;
}
.collect-card .collection{
  height: 300px;
  min-width: 250px;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  position: relative;
}
.cards1{
  background-image: url(collection1.jpg);
}
.cards2{
  background-image: url(collection2.jpg);
}
.cards3{
  background-image: url(collection3.jpg);
}
.cards4{
  background-image: url(collection4.jpg);
}
.overlay{
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(72, 16, 16, 0.09) 52%, rgba(13, 37, 59, 0.05) 52%, rgba(0, 0, 0, 0) 100%)
}
.content{
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: 500;
}
.content h4{
  font-weight: 500;
  letter-spacing: 0.7px;
}
.Get-the-app{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(300, 300, 300);
  width: 100%;
  padding: 3rem 6rem;
}
.small-cont{
  width: 60%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.left{
  flex: 2;
}
.left img{
  width: 100%;
  object-fit: cover;
  object-position: center;  
}
.right{
  flex: 3;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.right h1{
  font-weight: 500;
  font-size: 2rem;
}
.right span{
  font-size: 1rem;
}
.radio-btn{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.radio-btn div{
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 10px;
}
.radio-btn div input{
  height: 20px;
  width: 20px;
  accent-color: rgb(300 100 100);
}
.get-input{
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.get-input input, .get-input button{
  padding: 10px 15px;
}
.get-input input{
  outline: none;
  flex: auto;
  border: 1px solid gray;
  border-radius: 8px;
}
.get-input button{
  border: none;
  background-color: rgb( 300,100,100);
  border-radius: 7px;
  color: white;
  cursor: pointer;
}
.play_app-store{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.play_app-store h4{
  font-weight: 400;
}
.play_app-store div{
  display: flex;
  gap: 1rem;
}
.play_app-store div img{
  width: 33%;
}